/* Global */
* {
 font-family: 'Poller One', cursive;
 font-weight: bold;
 box-sizing: border-box;

}
/* Header */
.banner{
    color: rgb(100, 128, 0);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    background-color: whitesmoke;
    height: 50px;
    font-weight:bolder;
    font-family: 'Poller One', cursive;
    
}

.banner h1 {
    text-align: center;
}

/* Character cards */
.players {
    display: flex;
    justify-content: space-evenly;
   height: 80%;
    color: black;
}
.characterCard {
    background-color:rgba(245,245,245,.5);
  
    border: 8px black solid;
    max-width: 250px;
    position: relative;
    overflow: hidden;

}
.characterCard img {
    height: 100%;
    overflow: hidden;
 
   
}
.characterIcon {
    max-height: 220px;
}

.character h3{
    position: absolute;    
    color: white;
    font-size: 24px;
    font-family: Arial;

}

/* BODY */

.the_body {
    grid-template-columns: [game] auto [stats] 20%;
    background-image: url("../images/background1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    position: static;
    background-size: cover;
    display:grid;
    color: whitesmoke;
    height: 100vh;
}


.the_body.grid.characterCard img {
    width: 100%;
    
}

body {
    display:grid;
    grid-template-rows: [banner] 200px [body] auto;

}

.players{
    grid-template-columns: 80%;
    justify-content: space-evenly;
}
.players.characterCard.characterName {
    font-size: 20px;
    
}

.grid {
    display: grid;
    grid-template-rows: [top] 33% [middle] 33% [bottom];
}
.board {
    
}
.directions{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
}
/* Buttons */
/* Why won't they center? */
.heroPosition {
    display:grid;
    justify-content: space-evenly
   
}

.phys_attack_btn, 
.phys_defend_btn, 
.force_attack_btn, 
.force_defend_btn  {
    margin: 0 auto;
    
}
.reset_btn_area {
    justify-content: center;
    border-radius: 4px;

}

#hero_lightsaber,
#enemy_lightsaber {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   text-align: center;
    max-height: 200px;
    padding: 10px;
}

.reset_btn_area:hover {
  
}
/* trying new things. I haven't used active before. I think I like CSS best. 
like a strange abusive relationship.  */
.reset_btn_area:active {
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	transform: translateY(3px);
	animation: none;
}
/* Stats sidetoolbar  */

.statistics {
    grid-column-start: stats;
    grid-row-start: top;
    grid-row: span bottom;
    border: 2px whitesmoke solid;
    color: black;
    font-weight: bold;
    background-color:rgba(96,119,155,0.7);
    
    
}


.stats {
    background: rgba(96,119,155,.7);
    text-align: center;
    line-height: 26px;
    
}
table  {
    margin: 0 auto;
    padding: 20px;
    background: rgba(96,119,155,0.7);
    width:100%;
    
    

}

tbody {
    font-size: 24px;
}

.stats h2{
    font-size: 48px;
    padding:20px;
    line-height: 7px;
}
.stats.statistics h3{
    font-size: 36px;
    line-height: 1px;
    padding:20px;
    
}
/* Reponsivesless @media */